<!-- 首页尾部 -->
		<!-- <div class="public-footer"> -->
			<!-- 每个网页公共的尾部 -->
			<!-- <div class="public-container" style="text-align:center;">
				<p>
					<a href="">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="#">关于我们</a>|
					<a href="./">首页</a>
				</p>
				<p>Copyright © 2019 <a href="#">ZSF.All Rights Reserved.</a>ZSF.All Rights Reserved.</p>
				<p>
					『sf个人网站 』已运行
					<span id="span_dt_dt"></span>
					<script language=javascript>
						function show_date_time() {
							window.setTimeout("show_date_time()", 1000);
							BirthDay = new Date("4-12-2019"); //改成你的论坛建站的日期
							today = new Date();
							timeold = (today.getTime() - BirthDay.getTime());
							sectimeold = timeold / 1000
							secondsold = Math.floor(sectimeold);
							msPerDay = 24 * 60 * 60 * 1000
							e_daysold = timeold / msPerDay
							daysold = Math.floor(e_daysold);
							e_hrsold = (daysold - e_daysold) * -24;
							hrsold = Math.floor(e_hrsold);
							e_minsold = (hrsold - e_hrsold) * -60;
							minsold = Math.floor((hrsold - e_hrsold) * -60);
							seconds = Math.floor((minsold - e_minsold) * -60);
							span_dt_dt.innerHTML = daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
						}
						show_date_time();
					</script>
				</p>
			</div>
		</div> -->