
<div class="public-logo" id="public-logo">
		<div class="public-container clearfix">
			<div class="logo fl"><a href="/"><img id="logo" class="search-logo" src="/public/img/booklogo.jpg" alt="百草书屋" /></a></div>
			<div class="public-search-btn fr" id="search-button">
				<input id="searchparam" type="text" class="search-text fl" autofocus="autofocus" /><!-- <i class="search-img"></i> -->
				<input id="search" type="button" value="搜 索" class="search-btn fr" />
			</div>
		</div>
	</div>