<!-- 公共侧边导航栏 -->
<div class="sidebar" id="sidebar">
	<ul id="ul">
		<li><a href="javascript:void(0)" id="gototop"><img src="/public/icon/headback.png" alt=""><span class="footer-style" >回到顶部</span></a></li>
		<li><a href="javascript:void(0)" id=""><img  src="/public/icon/feedback.png" alt=""><span class="footer-style" >反馈</span></a></li>
		<li><a href="javascript:void(0)" id=""><img  src="/public/icon/like.png" alt=""><span class="footer-style" >猜你喜欢</span></a></li>
		<li><a href="javascript:void(0)" id="gotofooter"> <img  src="/public/icon/footerback.png" alt=""><span class="footer-style" >回到底部</span></a></li>
	</ul>
</div>
